@inject IStringLocalizer<Shared> Localizer

<Segment p_hz_dv_1_active="true" p_tittle_hz_div_1="@Localizer["Contact"]">

    <div class="row bg-black align-items-center p-0 m-0">
        <div class="d-none d-sm-block col-12 col-sm-5 col-md-5 col-lg-6 p-0">
            <div class="">
                <div class="bg-contact-photo">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-6 text-white text-start p-0 ">

            <div class="d-flex flex-column w-contact-photo bg-contact-photo-tittle p-tittle-photo">
                <div class="d-flex flex-column px-2 px-sm-0">
                    <div class=" text-center text-sm-start ms-md-5 ms-lg-3">
                        <div class="font-Atn-pt-21 mb-1">
                            @Localizer["ContactTitle"]
                        </div>
                        <div class="font-st-pt-21 mb-2">
                            @Localizer["ContactSubtitle"]
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center my-3">
                        <div class="d-flex justify-content-center mb-4 mb-md-0">
                            <img src="img/profile.jpg" alt="Avatar" height="50" style="border-radius:50%">
                            <div class="d-flex flex-column ps-2">
                                <div class="text-start font-qs-pt-16">@Localizer["ProfessionalTitle"]</div>
                                <div class="text-start font-qs-pt-16">@Localizer["LinkedIn"]</div>
                            </div>
                        </div>
                        <div class="ms-md-4 d-flex justify-content-center align-items-center">
                            <a class="btn btn-bd-sg-1" href="https://www.linkedin.com/in/gersoncastillolorenzo/">
                                <img height="40" src="img/icons/linkedin.svg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="text-center me-3">
                        <div class="m-2">
                            <a class="btn btn-bd-sg-1" href="mailto:gerson.profesional@outlook.com">
                                <img height="35" src="img/icons/email.svg" />
                            </a>
                        </div>
                        <div class="font-qs-pt-18">@Localizer["Email"]</div>
                    </div>
                    <div class="text-center">
                        <div class="m-2">
                            <a class="btn btn-bd-sg-1" href="https://www.instagram.com/gerson_castillo_pro/">
                                <img height="35" src="img/icons/instagram.svg" />
                            </a>
                        </div>
                        <div>
                            <div class="font-qs-pt-18">@Localizer["Instagram"]</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</Segment>
