<!---------------------------- First Section lg view -------------------------------------------------------------------->
<div class="d-none d-lg-block">

    <!-- First Section -->
    @if (ActiveDivider1)
    {

        <!-- Outside Tittle Divider 1 -->
        @if (ActiveTittleDivider1)
        {

            <div class="d-flex align-items-stretch">
                <div class="d-flex justify-content-start align-items-center width-culumn1 @BgColorOutsideTittle1 vt-height-sg-1">
                    <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle1</div>
                </div>
                <div class="bg-sg-1 vt-width-sg-1 vt-height-sg-1"></div>
                <div class="d-flex justify-content-start align-items-center width-culumn2 @BgColorOutsideTittle2 vt-height-sg-1">
                    <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle2</div>
                </div>
            </div>
        }

        <!-- Divider 1 -->
        <div class="d-flex align-items-stretch">
            <div class="d-flex justify-content-center align-items-center bg-sg-1 width-culumn1 vt-height-sg-1">
                <div class="text-white">@Tittle1</div>
            </div>
            <div class="bg-sg-1 vt-width-sg-1 vt-height-sg-1"></div>
            <div class=" d-flex justify-content-center align-items-center bg-sg-1 width-culumn2 vt-height-sg-1">
                <div class="text-white">@Tittle2</div>
            </div>
        </div>
    }
    <!-- Content First -->
    <div class="d-flex align-items-stretch">
        <div class="width-culumn1">@Content1</div>
        <div class="bg-sg-1 vt-width-sg-1"></div>
        <div class="width-culumn2">@Content2</div>
    </div>

</div>

<!---------------------------- Second Section lg view -------------------------------------------------------------------->
<div class="d-none d-lg-block">

    @if (ActiveSection2)
    {
        <!-- Second Section -->
        <!-- Outside Tittle Divider 2 -->
        @if (ActiveTittleDivider2)
        {

            <div class="d-flex align-items-stretch">
                <div class="d-flex justify-content-start align-items-center width-culumn1 @BgColorOutsideTittle3 vt-height-sg-1">
                    <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle3</div>
                </div>
                <div class="bg-sg-1 vt-width-sg-1 vt-height-sg-1"></div>
                <div class="d-flex justify-content-start align-items-center width-culumn2 @BgColorOutsideTittle4 vt-height-sg-1">
                    <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle4</div>
                </div>
            </div>
        }
        @if (ActiveDivider2)
        {
            <!-- Divider 2 -->
            <div class="d-flex align-items-stretch">
                <div class="d-flex justify-content-center align-items-center bg-sg-1 width-culumn1 vt-height-sg-1">
                    <div class="text-white">@Tittle3</div>
                </div>
                <div class="bg-sg-1 vt-width-sg-1 vt-height-sg-1"></div>
                <div class="d-flex justify-content-center align-items-center bg-sg-1 width-culumn2 vt-height-sg-1">
                    <div class="text-white">@Tittle4</div>
                </div>
            </div>
        }
        <!-- Content Second -->
        <div class="d-flex align-items-stretch">
            <div class="width-culumn1">@Content3</div>
            <div class="bg-sg-1 vt-width-sg-1"></div>
            <div class="width-culumn2">@Content4</div>
        </div>
    }
</div>

<!---------------------------- sm view -------------------------------------------------------------------->

<div class="d-block d-lg-none">
    <div class="d-flex">
        <div class="bg-sg-1 vt-width-sg-1"></div>
        <div class="d-flex flex-column width-culumn">
            <!-- Conten1 Tittle 2 -->
            <div class="w-100 @orderSmContent2">
                <!-- Outside Tittle Divider 1 -->
                @if (ActiveTittleDivider1)
                {
                    <div class="d-flex align-items-stretch w-100">
                        <div class="d-flex justify-content-start align-items-center w-100 @BgColorOutsideTittle2 vt-height-sg-1">
                            <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle2</div>
                        </div>
                    </div>
                }
                <!-- First Section -->
                @if (smActiveDividerContent2)
                {
                    <!-- Divider 1 -->
                    <div class="d-flex align-items-stretch w-100">
                        <div class=" d-flex justify-content-center align-items-center bg-sg-1 w-100 vt-height-sg-1">
                            <div class="text-white">@Tittle2</div>
                        </div>
                    </div>
                }
                <!-- Content First -->
                <div class="d-flex align-items-stretch w-100 ">
                    <div class="w-100">@Content2</div>
                </div>
            </div>
            <!-- Conten1 Tittle 1 -->
            <div class="w-100 @orderSmContent1">
                <!-- Outside Tittle Divider 1 -->
                @if (ActiveTittleDivider1)
                {

                    <div class="d-flex align-items-stretch w-100">
                        <div class="d-flex justify-content-start align-items-center w-100 @BgColorOutsideTittle1 vt-height-sg-1">
                            <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle1</div>
                        </div>
                    </div>
                }
                <!-- First Section -->
                @if (smActiveDividerContent1)
                {


                    <!-- Divider 1 -->
                    <div class="d-flex align-items-stretch w-100">
                        <div class="d-flex justify-content-center align-items-center bg-sg-1 w-100 vt-height-sg-1">
                            <div class="text-white">@Tittle1</div>
                        </div>
                    </div>
                }
                <!-- Content First -->
                <div class="d-flex align-items-stretch w-100">
                    <div class="w-100">@Content1</div>
                </div>
            </div>
            @if (ActiveSection2)
            {
                <!-- Conten1 Tittle 4 -->
                <div class="w-100 @orderSmContent4">
                    <!-- Outside Tittle 4 Divider 1 -->
                    @if (ActiveTittleDivider2)
                    {
                        <div class="d-flex align-items-stretch w-100">
                            <div class="d-flex justify-content-start align-items-center w-100 @BgColorOutsideTittle4 vt-height-sg-1">
                                <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle4</div>
                            </div>
                        </div>
                    }
                    <!-- First Section -->
                    @if (smActiveDividerContent4)
                    {
                        <!-- Divider 2 -->
                        <div class="d-flex align-items-stretch w-100">
                            <div class="d-flex justify-content-center align-items-center bg-sg-1 w-100 vt-height-sg-1">
                                <div class="text-white">@Tittle4</div>
                            </div>
                        </div>
                    }
                    <!-- Content Second -->
                    <div class="d-flex align-items-stretch w-100">
                        <div class="w-100">@Content4</div>
                    </div>
                </div>
                <!-- Conten1 Tittle 3 -->
                <div class="w-100 @orderSmContent3">
                    <!-- Outside Tittle 3 Divider 1 -->
                    @if (ActiveTittleDivider2)
                    {
                        <div class="d-flex align-items-stretch w-100">
                            <div class="d-flex justify-content-start align-items-center w-100 @BgColorOutsideTittle3 vt-height-sg-1">
                                <div class="text-color-sg-1 font-Atn-pt-24 ps-2">@OutsideTittle3</div>
                            </div>
                        </div>
                    }
                    <!-- First Section -->
                    @if (smActiveDividerContent3)
                    {
                        <!-- Divider 2 -->
                        <div class="d-flex align-items-stretch w-100">
                            <div class="d-flex justify-content-center align-items-center bg-sg-1 w-100 vt-height-sg-1">
                                <div class="text-white">@Tittle3</div>
                            </div>
                        </div>
                    }
                    <!-- Content Second -->
                    <div class="d-flex align-items-stretch w-100">
                        <div class="w-100">@Content3</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>







@code {

    // Sections activator
    [Parameter]
    public bool ActiveDivider1 { get; set; } = false;
    [Parameter]
    public bool ActiveSection2 { get; set; } = false;
    [Parameter]
    public bool ActiveDivider2 { get; set; } = true;

    //Content divider once get smaller
    [Parameter]
    public bool smActiveDividerContent1 { get; set; } = true;
    [Parameter]
    public bool smActiveDividerContent2 { get; set; } = true;
    [Parameter]
    public bool smActiveDividerContent3 { get; set; } = true;
    [Parameter]
    public bool smActiveDividerContent4 { get; set; } = true;

    //Title divider activator
    [Parameter]
    public bool ActiveTittleDivider1 { get; set; } = false;
    [Parameter]
    public bool ActiveTittleDivider2 { get; set; } = false;

    //RenderFragment Content
    [Parameter]
    public RenderFragment Content1 { get; set; } = null!;
    [Parameter]
    public RenderFragment Content2 { get; set; } = null!;
    [Parameter]
    public RenderFragment Content3 { get; set; } = null!;
    [Parameter]
    public RenderFragment Content4 { get; set; } = null!;

    //Titles
    [Parameter]
    public string? Tittle1 { get; set; } = null!;
    [Parameter]
    public string? Tittle2 { get; set; } = null!;
    [Parameter]
    public string? Tittle3 { get; set; } = null!;
    [Parameter]
    public string? Tittle4 { get; set; } = null!;

    //Order Content small
    [Parameter]
    public string? orderSmContent1 { get; set; } = "order-2";
    [Parameter]
    public string? orderSmContent2 { get; set; } = "order-0";
    [Parameter]
    public string? orderSmContent3 { get; set; } = "order-3";
    [Parameter]
    public string? orderSmContent4 { get; set; } = "order-1"!;

    //Outside Tittle
    [Parameter]
    public string? OutsideTittle1 { get; set; } = null!;
    [Parameter]
    public string? OutsideTittle2 { get; set; } = null!;
    [Parameter]
    public string? OutsideTittle3 { get; set; } = null!;
    [Parameter]
    public string? OutsideTittle4 { get; set; } = null!;

    //Bc ground Outside Tittle
    [Parameter]
    public string? BgColorOutsideTittle1 { get; set; } = null!;
    [Parameter]
    public string? BgColorOutsideTittle2 { get; set; } = null!;
    [Parameter]
    public string? BgColorOutsideTittle3 { get; set; } = null!;
    [Parameter]
    public string? BgColorOutsideTittle4 { get; set; } = null!;
}
