@page "/"
@using GersonCastillo_Pro.Client.Models
@using GersonCastillo_Pro.Client.Services
@inject IStringLocalizer<Shared> Localizer

<!-- Main -->

<Segment p_tittle_hz_div_1="Intro" p_hz_dv_1_active="false">
    <SegmentContent1Colum2 smActiveDividerContent1="false"
                           smActiveDividerContent2="false"
                           orderSmContent1="order-1"
                           orderSmContent2="order-0">
        <Content1>
            <div class="d-flex h-100 bg-sg-2">
                <div class="align-self-center p-3 p-sm-4 p-md-5 p-lg-4 p-xl-5">
                    <p class="text-black text-center font-serif text-18">@Localizer["IntroDescription"]</p>
                    <p class="text-black text-center font-serif text-16 fst-italic">@Localizer["IntroQuote"]</p>
                </div>
            </div>
        </Content1>
        <Content2>
            <div class="bg-black h-100">
                <div class="row m-0 align-items-center p-2 fade-in bg-photo-intro">
                    <div class="col-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-9 p-0 margin-top-tittle">
                        <div class="text-center h-100 fade-in-bottom">
                            <p class="text-white font-quicksand text-24 m-0">@Localizer["IntroTitle"]</p>
                            <p class="text-white font-quicksand text-16" style="opacity:0.8;">@Localizer["IntroSubtitle"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </Content2>
    </SegmentContent1Colum2>
</Segment>

<Segment p_tittle_hz_div_1="@Localizer["Skills"]" p_hz_dv_1_active="true">
    <SegmentContent1Colum2 
                           ActiveDivider1="true"
                           ActiveSection2="true"
                           ActiveTittleDivider1="true"
                           ActiveTittleDivider2="true"
                        
                           BgColorOutsideTittle2="bg-div-1"
                           BgColorOutsideTittle4="bg-div-1"
                           orderSmContent2="order-0"
                           orderSmContent4="order-1"
                           orderSmContent1="order-2"
                           orderSmContent3="order-3"
                           OutsideTittle1="@Localizer["Leadership_Title"]"
                           OutsideTittle2="@Localizer["AIDataScience"]"
                           OutsideTittle3="@Localizer["Business"]"
                           OutsideTittle4="@Localizer["SoftwareDevelopment"]">
        <Content1>
            <div class="p-2">
                <ul class="font-serif text-18 list-st">
                    <li>
                        <strong>@Localizer["Leadership_Item1_Title"]:</strong>
                        @Localizer["Leadership_Item1_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item2_Title"]:</strong>
                        @Localizer["Leadership_Item2_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item3_Title"]:</strong>
                        @Localizer["Leadership_Item3_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item4_Title"]:</strong>
                        @Localizer["Leadership_Item4_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item5_Title"]:</strong>
                        @Localizer["Leadership_Item5_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item6_Title"]:</strong>
                        @Localizer["Leadership_Item6_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item7_Title"]:</strong>
                        @Localizer["Leadership_Item7_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item8_Title"]:</strong>
                        @Localizer["Leadership_Item8_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item9_Title"]:</strong>
                        @Localizer["Leadership_Item9_Text"]
                    </li>
                    <li>
                        <strong>@Localizer["Leadership_Item10_Title"]:</strong>
                        @Localizer["Leadership_Item10_Text"]
                    </li>
                </ul>
            </div>


        </Content1>
        <Content2>
            <SegmentContent2Colum2 ActiveSection2="true"
                                   ActiveDivider1="true"
                                   ActiveDivider2="true"
                                   ActiveTittleDivider1="true"
                                   ActiveTittleDivider2="true"
                                   BgColorOutsideTittle1="bg-black"
                                   BgColorOutsideTittle2="bg-black"
                                   BgColorOutsideTittle3="bg-black"
                                   BgColorOutsideTittle4="bg-black"
                                   OutsideTittle1="Data & Analytical Fundamentals"
                                   OutsideTittle2="Core ML & Deep Learning"
                                   OutsideTittle3="MLOps, Big Data & Cloud"
                                   OutsideTittle4="GenAI & Solution Production"
                         
                            
                                   >
                <Content1>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">Data Programming</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Python (Pandas, Numpy);</li>
                                    <li class="ps-2">Visualization (Matplotlib);</li>
                                    <li>}</li>
                                </ul>
                                <li class="fw-bold">Database Management</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">SQL;</li>
                                    <li class="ps-2">NoSQL (MongoDB);</li>
                                    <li>}</li>
                                </ul>
                                <li class="fw-bold">Applied Statistics</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Inferential Statistics;</li>
                                    <li class="ps-2">Hypothesis Testing;</li>
                                    <li>}</li>
                                </ul>
                            </ul>
                        </div>
                    </div>

                </Content1>
                <Content2>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">Predictive Modeling</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Supervised;</li>
                                    <li class="ps-2">Unsupervised;</li>
                                    <li class="ps-2">Scikit-learn;</li>
                                    <li class="ps-2">Ensemble methods (Random Forest, XGBoost, LightGBM);</li>
                                    


                                    <li>}</li>
                                </ul>
                                <li class="fw-bold">Deep Learning</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">TensorFlow, Keras, PyTorch;</li>
                                    <li class="ps-2">Computer Vision (CNNs);</li>
                                    <li class="ps-2">Sequence (RNNs, LSTM);</li>
                                    <li class="ps-2">Generative (GANs);</li>
                                    <li>}</li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1">
                            <img class="m-2 align-self-center" style="width:80px;height:80px" src="img/icons/scikit-learn.png" />
                            <div class="d-block d-sm-flex justify-content-evenly align-self-center text-center">
                                <img class="m-2" height="50" src="img/icons/Keras_logo_vg.png" />
                                <img class="m-2" height="50" src="img/icons/tensorflow.png" />
                            </div>
                            <img class="m-2 align-self-center" style="width:80px;height:80px" src="img/icons/pytorch.png" />
                        </div>
                    </div>
                </Content2>
                <Content3>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">MLOps</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">CI/CD Pipelines;</li>
                                    <li class="ps-2">Versioning;</li>
                                    <li>}</li>
                                </ul>
                                <li class="fw-bold">Big Data</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Apache Spark (PySpark);</li>
                                    <li class="ps-2">Hadoop HDFS;</li>
                                    <li>}</li>
                                </ul>
                                <li class="fw-bold">Cloud Platforms</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Azure;</li>
                                    <li>}</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </Content3>
                <Content4>

                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">GenAI Engineering</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">LLMs (GPT-4, Llama, Mistral);</li>
                                    <li class="ps-2">LangChain & Hugging Face;</li>
                                    <li class="ps-2">RAG Architectures;</li>
                                    <li class="ps-2">Fine-Tuning;</li>
                                    <li class="ps-2">Transfer Learning;</li>
                                    <li class="ps-2">Prompt Engineering;</li>
                                    <li>}</li>
                                </ul>
                                <li class="fw-bold">Software Engineering for AI</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">APIs (FastAPI, .NET);</li>
                                    <li class="ps-2">Docker;</li>
                                    <li>}</li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1">
                            <img class="m-2 align-self-center" style="width:80px;height:80px" src="img/icons/chatgpt.jpg" />
                            <div class="d-block d-sm-flex justify-content-evenly align-self-center text-center">
                                <img class="m-2" style="width:50px;height:50px" src="img/icons/langchain.png" />
                                <img class="m-2" style="width:50px;height:50px" src="img/icons/hf-logo.svg" />
                            </div>
                            <img class="m-2 align-self-center" style="width:80px;height:50px" src="img/icons/docker.png" />
                        </div>
                    </div>


                  
                </Content4>

    
  
            </SegmentContent2Colum2>
        </Content2>
        <Content3>
            <div class="h-100 p-4">

                <div class="d-flex flex-column font-serif text-16">
                    @if (businessSkills is not null)
                    {
                        @foreach (var skill in businessSkills)
                        {
                            <BussinesSkills Description="@skill.Description" Icon="@skill.Icon" />
                        }
                    }
                </div>
            </div>

        </Content3>
        <Content4>
            <SegmentContent2Colum2 ActiveSection2=true
                                   ActiveDivider1=true
                                   ActiveDivider2=true
                                   ActiveTittleDivider1=true
                                   ActiveTittleDivider2=true
                                   BgColorOutsideTittle1="bg-black"
                                   BgColorOutsideTittle2="bg-black"
                                   BgColorOutsideTittle3="bg-black"
                                   BgColorOutsideTittle4="bg-black"
                                   OutsideTittle1="@Localizer["Languages"]"
                                   OutsideTittle2="@Localizer["NetFrameworksLibraries"]"
                                   OutsideTittle3="@Localizer["DevelopmentTools"]"
                                   OutsideTittle4="@Localizer["OtherFrameworksLibraries"]">
                <Content1>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="d-flex align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">C#</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Linq;</li>
                                    <li class="ps-2">Razor;</li>
                                    <li class="ps-2">XAML;</li>
                                    <li class="ps-2">CSHTML;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">Data</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">T-SQL;</li>
                                    <li class="ps-2">DAX Funtions;</li>
                                    <li class="ps-2">M Language;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">Javascript</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">HTML;</li>
                                    <li class="ps-2">CSS;</li>
                                    <li class="ps-2">JQuery;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">Python</li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1 ">
                            <img class="p-1" height="60" src="img/icons/csharp.svg" />

                            <div class="d-flex justify-content-evenly align-self-center">
                                <img class="p-1 align-self-center" height="50" src="img/icons/javascript.svg" />
                                <img class="p-1 align-self-center" height="50" src="img/icons/html5.svg" />
                            </div>
                            <img class="p-1" height="90" src="img/icons/tsql.svg" />
                            <img class="p-1" height="64" src="img/icons/Power_BI_Logo.svg" />
                            <img class="p-1" height="100" src="img/icons/python.svg" />
                        </div>
                    </div>
                </Content1>
                <Content2>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">ASP.NET core</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Blazor WebAssembly;</li>
                                    <li class="ps-2">Blazor Server;</li>
                                    <li class="ps-2">EF Core;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">ASP.NET</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">ASP.NET MVC;</li>
                                    <li class="ps-2">ASP.NET Web API;</li>
                                    <li class="ps-2">ASP.NET Web Pages;</li>
                                    <li class="ps-2">ASP.NET Web Forms;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">.NET Framework</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">WPF;</li>
                                    <li class="ps-2">Entity Framework;</li>
                                    <li>} </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1">
                            <img class="m-2 md-logo" src="img/icons/netcore.svg" />
                            <div class="d-block d-sm-flex justify-content-evenly align-self-center text-center">
                                <img class="m-2" height="50" src="img/icons/blazor.svg" />
                                <img class="m-2" height="50" src="img/icons/netframework.svg" />
                            </div>
                            <img class="m-2 md-logo" src="img/icons/aspnetcore.svg" />
                        </div>
                    </div>
                </Content2>
                <Content3>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="d-flex d-flex flex-wrap w-100 justify-content-evenly align-self-center">
                            <img class="m-2" height="100" src="img/icons/visualstudio.svg" />
                            <img class="m-2" height="105" src="img/icons/sqlssms.png" />
                            <img class="m-2" height="100" src="img/icons/Microsoft_Azure.svg" />
                            <img class="m-2" height="100" src="img/icons/MongoBD.png" />

                        </div>
                    </div>
                </Content3>
                <Content4>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-code text-16 list-st-cd pe-2">
                                <li class="fw-bold">Sap Business One SDK</li>
                                <li class="fw-bold">Api Management SDK</li>
                                <ul class="text-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">PayPal .NET SDK;</li>
                                    <li class="ps-2">Stripe .NET SDK;</li>
                                    <li class="ps-2">Twilio .NET SDK;</li>
                                    <li class="ps-2">Gmail .NET SDK;</li>
                                    <li>} </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1">
                            <div class="text-center">
                                <img class="lg-logo" src="img/icons/sap.png" />
                            </div>
                        </div>
                    </div>
                </Content4>

            </SegmentContent2Colum2>
        </Content4>
    </SegmentContent1Colum2>
</Segment>

<!-- Work & Projects -->
<Segment p_tittle_hz_div_1="@Localizer["WorkAndProjects"]" p_hz_dv_1_active="true">
    <SegmentContent1Colum2 ActiveDivider1="true"
                           ActiveSection2="true"
                           ActiveTittleDivider1="true"
                           ActiveTittleDivider2="true"
                           BgColorOutsideTittle4="bg-black"
                           OutsideTittle1="@Localizer["Work"]"
                           OutsideTittle2="@Localizer["SomeProjects"]"
                           OutsideTittle3="@Localizer["Education"]"
                           OutsideTittle4="@Localizer["Repositories"]">
        <Content1>
            <SegmentContent2Colum1 ActiveDivider1="true"
                                   ActiveDivider2="true"
                                   ActiveTittleDivider1="true"
                                   ActiveTittleDivider2="true"
                                   ActiveSection2="true"
                                   OutsideTittle1="@Localizer["Current"]"
                                   OutsideTittle3="@Localizer["Background"]">
                <Content1>
                    @if (currentJobs is not null)
                    {
                        @foreach (var job in currentJobs)
                        {
                            <div class="px-3">
                                <div class="mt-2 mb-2 font-anton text-18 text-dark">
                                    @foreach (var title in job.Titles)
                                    {
                                        <div>@title</div>
                                    }
                                </div>
                                <div class="my-1">
                                    <div class="font-serif text-16">@job.Period</div>
                                    <div class="font-serif text-16">@job.Location</div>
                                </div>
                                <ul class="font-serif text-16 list-st">
                                    @foreach (var responsibility in job.Responsibilities)
                                    {
                                        <li>@responsibility</li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                </Content1>
                <Content3>
                    @if (pastJobs is not null)
                    {
                        @foreach (var job in pastJobs)
                        {
                            <div class="px-3">
                                <div class="d-flex mt-2 mb-2 font-anton text-18 text-dark">
                                    @foreach (var title in job.Titles)
                                    {
                                        <div>@title</div>
                                    }
                                </div>
                                <div class="my-1">
                                    <div class="font-serif text-16">@job.Period</div>
                                </div>
                                <ul class="font-serif text-16 list-st">
                                    @foreach (var responsibility in job.Responsibilities)
                                    {
                                        <li>@responsibility</li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                </Content3>
            </SegmentContent2Colum1>

        </Content1>
        <Content2>
            <div class="d-flex flex-column h-100 text-white bg-black p-3">
                <div class="fst-italic text-white-50  mt-2 text-center">@Localizer["PersonalPublicProjects"]</div>
                @if (personalProjects is not null)
                {
                    @foreach (var project in personalProjects)
                    {
                        <Project tittle="@project.Tittle"
                                 description="@project.Description"
                                 action="@project.Action"
                                 Languages="@project.Languages"
                                 FrameworksLibraries="@project.FrameworksLibraries"
                                 link="@project.Link"
                                 Repository="@project.Repository">
                        </Project>
                    }
                }
                <div class="fst-italic text-white-50 mt-2 text-center">@Localizer["EnterprisePrivateProjects"]</div>
                @if (enterpriseProjects is not null)
                {
                    @foreach (var project in enterpriseProjects)
                    {
                        <Project tittle="@project.Tittle"
                                 description="@project.Description"
                                 action="@project.Action"
                                 Languages="@project.Languages"
                                 FrameworksLibraries="@project.FrameworksLibraries"
                                 link="@project.Link"
                                 Repository="@project.Repository">
                        </Project>
                    }
                }
            </div>
        </Content2>
        <Content3>
            <SegmentContent2Colum1 ActiveDivider1="true"
                                   ActiveDivider2="true"
                                   ActiveTittleDivider1="true"
                                   ActiveTittleDivider2="true"
                                   ActiveSection2="true"
                                   OutsideTittle1="@Localizer["NewestCoursesCertifications"]"
                                   OutsideTittle3="@Localizer["AcademicDegrees"]">

                <Content1>
                    <div class="py-2">
                        @if (certifications is not null)
                        {
                            @foreach (var cert in certifications.Take(1))
                            {
                                <div class="px-3 pt-1">
                                    <div class="row text-center mt-2">
                                        <div class="col-12 col-sm-4 p-0">
                                            <img height="40" src="@cert.Logo" />
                                            <div>
                                                <a class="btn btn-link p-0" style="font-size:14px; text-decoration:none;color:black;" target="_blank" href="@cert.CredentialLink">
                                                    @cert.LinkText
                                                    <img class="pb-1" height="21" src="img/icons/open_in_new_black_24dp.svg" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-8 p-0">
                                            <div class="d-flex flex-column">
                                                <div class="font-serif text-16 fw-bold">@cert.Name</div>
                                                <div class="d-felx">
                                                    <div class="font-serif text-14 me-2">@cert.InstitutionAndDate</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </Content1>
                <Content3>
                    <div class="m-2">
                        @if (academicDegrees is not null)
                        {
                            <div class="row text-center my-2">
                                @foreach (var degree in academicDegrees.Take(2))
                                {
                                    <div class="col-6">
                                        <img height="50" src="@degree.InstitutionLogo" />
                                        <div class="d-block">
                                            <div class="font-serif text-16">@degree.InstitutionName</div>
                                            <div class="font-serif text-21 fw-bold">@degree.Degree</div>
                                            <div class="font-serif text-14">@degree.LocationAndYear</div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @foreach (var degree in academicDegrees.Skip(2))
                            {
                                <div class="row text-center mt-2">
                                    <div class="col-12">
                                        <img height="50" src="@degree.InstitutionLogo" />
                                        <div class="d-flex flex-column">
                                            <div class="font-serif text-16">@degree.InstitutionName</div>
                                            <div class="font-serif text-21 fw-bold">@degree.Degree</div>
                                            <div class="font-serif text-14">@degree.LocationAndYear</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </Content3>
            </SegmentContent2Colum1>
        </Content3>
        <Content4>
            <SegmentContent2Colum1 ActiveDivider1="true"
                                   ActiveDivider2="true"
                                   ActiveTittleDivider1="true"
                                   ActiveTittleDivider2="true"
                                   ActiveSection2="true"
                                   OutsideTittle1="@Localizer["Repositories"]"
                                   OutsideTittle3="@Localizer["CoursesCertifications"]">

                <Content1>
                    <div class="h-100" style="min-height: 300px;">
                        <div class="bg-repository-photo">
                            <div class="row text-center align-items-start align-items-sm-center h-100 m-0">
                                <div class="col-12 col-sm-6">
                                    <div class="align-middle">
                                        <div class="d-flex justify-content-center flex-column">
                                            <div class="my-3">
                                                <a class="btn btn-dark" href="https://gersoncl10000.visualstudio.com/">
                                                    <img class="icon-hg" src="img/icons/azurelogo.svg" />
                                                </a>
                                                <p class="text-black font-code text-16 mt-2">
                                                    @Localizer["PrivateRepository"]
                                                </p>
                                            </div>
                                            <div class="my-3">
                                                <a class="btn btn-dark" href="https://github.com/gersoncl10000">
                                                    <img class="icon-hg" src="img/icons/github.svg" />
                                                </a>
                                                <p class="text-black font-code text-16 mt-2">
                                                    @Localizer["PublicRepository"]
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                </div>
                            </div>

                        </div>
                    </div>
                </Content1>
                <Content3>
                    <div class="py-2">
                        @if (certifications is not null)
                        {
                            @foreach (var cert in certifications.Skip(1))
                            {
                                <div class="px-3 pt-1">
                                    <div class="row text-center mt-2">
                                        <div class="col-12 col-sm-4 p-0">
                                            <img height="40" src="@cert.Logo" />
                                            <div>
                                                <a class="btn btn-link p-0" style="font-size:14px; text-decoration:none;color:black;" target="_blank" href="@cert.CredentialLink">
                                                    @cert.LinkText
                                                    <img class="pb-1" height="21" src="img/icons/open_in_new_black_24dp.svg" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-8 p-0">
                                            <div class="d-flex flex-column">
                                                <div class="font-serif text-16 fw-bold">@cert.Name</div>
                                                <div class="d-felx">
                                                    <div class="font-serif text-14 me-2">@cert.InstitutionAndDate</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </Content3>
            </SegmentContent2Colum1>
        </Content4>
    </SegmentContent1Colum2>
</Segment>
<Contact></Contact>

